@model IEnumerable<TesteWebApp.Models.Funcionario>

@{
    ViewData["Title"] = "Index";
}
<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FuncionarioId">Edita</a> |
                <a asp-action="Details" asp-route-id="@item.FuncionarioId">Detalhe</a> |
                <a asp-action="Delete" asp-route-id="@item.FuncionarioId">Deleta</a>
            </td>
        </tr>
}
    </tbody>
</table>
